@model IEnumerable<MoneyFlow.Models.ServiceViewModel>
@{
}

<div class="row">
    <div class="col-sm-6">
        <h2>Service</h2>
    </div>
    <div class="col-sm-6 text-end">
        <a href="/Service/New" class="btn btn-success">New Service</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>@service.Name</td>
                        <td>@service.Type</td>
                        <td>
                            <a href="/Service/Edit/@service.ServiceId" class="btn btn-primary btn-sm">Edit</a>
                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>