@model IEnumerable<MoneyFlow.Models.ServiceViewModel>
@{
}

<div class="row">
    <div class="col-sm-6">
        <h2>Service</h2>
    </div>
    <div class="col-sm-6 text-end">
        <a href="/Service/New" class="btn btn-success"><i class="bi bi-plus-circle"></i> New Service</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th style="width:150px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in Model)
                {
                    <tr>
                        <td>@service.Name</td>
                        <td>@service.Type</td>
                        <td style="width:150px">
                            <a href="/Service/Edit/@service.ServiceId" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></a>
                            <button class="btn btn-danger btn-sm" onclick="deleteService(@service.ServiceId)"><i class="bi bi-trash3-fill"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {    
    <script>
        function deleteService(serviceId) {
            Swal.fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Yes, delete it!"
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = '@Url.Action("Delete", "Service")' + '?id=' + serviceId;
              }
            });
        }
    </script>
}