@model TransactionViewModel
@{
}

<div class="row mt-4">
    <div class="col-sm-6 offset-sm-3">
        <h2>New Transaction</h2>
        <form asp-controller="Transaction" asp-action="New" method="post">
            <div class="mb-3">
                <label class="form-label">Type</label>
                <select class="form-select" id="cboTypeService" onchange="ShowServices()">
                    <option value="0" disabled selected>-- Select Type --</option>
                    <option value="income">Income</option>
                    <option value="expense">Expense</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Service</label>
                <select class="form-select" id="cboService">
                    <option></option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Comment</label>
                <input type="text" class="form-control" id="txtComment" autocomplete="off" />
            </div>
            <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="date" class="form-control" id="txtDate" autocomplete="off"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Total Amount</label>
                <input type="number" class="form-control" id="txtTotalAmount" autocomplete="off" />
            </div>

            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#cboService').select2({
                placeholder: "-- select --",
                width: '100%',
            });
        });


        async function ShowServices() {
            try {
                const typeService = $('#cboTypeService').val();

                const fetchResponse = await fetch(`/Transaction/SericeByTypes?typeService=${typeService}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8',
                    }
                });
                
                if (fetchResponse.ok) {
                    const data = await fetchResponse.json();

                    const comboService = $('#cboService');
                    comboService.empty();
                    comboService.append(new Option("-- select --", ""));

                    data.forEach((serviceItem) => {
                        comboService.append(new Option(serviceItem.name, serviceItem.id));
                    });
                    
                    comboService.trigger('change');
                } else {
                    console.error("Request error:", fetchResponse.status, fetchResponse.statusText);
                }
            } catch (error) {
                console.error("Fetch error request:", error);
            }
        }
    </script>
}